#Compulsory
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
PRIVATE_KEY=your_private_key_here

# if not privded treated as PROD
MODE=DEV


#Optional
PORT=3000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
SIGNATURE_EXPIRY_MINUTES=15

RUN_MIGRATIONS=true

# thesevalue will be parsed to integer
SALT_ROUNDS=10
MAX_VOTES_ALLOWED=2
FILE_UPLOAD_SIZE_MB=10
NUMBER_OF_QUESTIONS_TO_ASK=2

ENABLE_QUESTIONS_VERIFICATION=false

ENABLE_PHONE_NR_VERIFICATION=false
# required when `ENABLE_PHONE_NR_VERIFICATION` is set to `false`
DEFAULT_LOGIN_PASSWORD=your_default_password_here

# required if  ENABLE_PHONE_NR_VERIFICATION is `not set` or set to `true`
TWILIO_ACCOUNT_SID=your_twilio_id_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_VERIFICATION_SERVICE_SID=twilio_verification_service_id_here
TWILIO_SENDER_PHONE_NUMBER=twilio_phone_number_here

