.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-div {
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(36, 36, 36, 0.25);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  height: auto;
}
.App-link {
  color: #61dafb;
}
.app-section {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 16vh;
  .content-div {
    width: 100%;
  }
}
.absolute-img {
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex-col-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-col-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}
.block-div {
  display: block;
  .left {
    float: left;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1a946f;
  }
  .right {
    float: right;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #4d4d4d;
  }
}
.border-div {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 3%;
}
.next-btn {
  background: #1a946f;
  border-radius: 8px;
  color: white;
  border: rgba(27, 146, 110, 0.62);
  width: 10vw;
  padding: 1%;
  font-weight: bold;
  font-family: Lato;
}
.disabled-btn {
  background: rgba(27, 146, 110, 0.62);
  border-radius: 8px;
  color: white;
  border: rgba(27, 146, 110, 0.62);
  width: 10vw;
  height: auto;
  padding: 1%;
  font-weight: bold;
  font-family: Lato;
}
.sub-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: inline;
  text-align: center;
  color: #414141;
}
.side-img {
  display: inline-block;
}
.vote-time {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
}
.vote-desc {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #515151;
}
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #1b926e;
  border-radius: 8px;
  border: 1px solid #1b926e;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 10vw;
  height: 5vh;
  content: "";
  color: #1b926e;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #1b926e;
  border: 1px solid #1b926e;
  box-sizing: border-box;

  border-radius: 8px;
  background: white;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
